{% extends 'admin/base.html' %}

<!-- body -->
{% block content %}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">


                <div class="container card" style="padding: 2em;">
                    <div class="row">
                        <div class="col">
                            <p><span class="badge bg-primary text-light">{{ object.subject }}</span></p>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-10">
                            <h4>{{ object.first_name }}'s Inquiry</h4>

                            <p class="sub-text">Addressed to the {{ object.user }}</p>

                            <div class="myicons" style="display: flex; font-weight: 600;">
                                <p class="mr-2">
                                    <em class="icon ni ni-user-circle mr-1"></em> {{ object.first_name }} {{ object.last_name }}
                                </p>

                                <p class="mr-2">
                                    <em class="icon ni ni-mail mr-1"></em> {{ object.email }}
                                </p>
                            </div>
                            <br>

                            <p style="font-size: 1.5em;">{{ object.message }}</p>
                        </div>

                        <div class="col-2"><a class="btn btn-outline-primary" href="{% url 'core:inquiry' %}">Go back</a></div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}