{% extends 'admin/base.html' %}


<!-- body -->
{% block content %}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">


                <div class="container card" style="padding: 2em;">
                    <div class="row">
                        <div class="col">
                            <p><span class="badge bg-primary text-light">{{ object.status }}</span></p>
                        </div>
                        <div class="col edit-status-modal">
                            <a href="{{ object.get_update_investor_url }}" class="link">Edit Investor</a>
                        </div>
                        <hr>
                    </div>
                    <br>

                    <div class="row align-items-center justify-content-center">

                        <div class="col">
                            <h4>{{ object.name }} {{ object.surname }}</h4>
                            <!-- date -->
                            <p class="sub-text">Applied on {{ object.application_date }}</p>

                            <div class="myIconContainer" style="display: flex; font-weight: 600;">
                                <p class="mr-2">
                                    <em class="icon ni ni-user-circle mr-1"></em> {{ object.investor_type }}
                                </p>

                                <!-- linked in -->
                                {% if object.linkedin_address %}
                                <p class="mr-2">
                                    <a href="{{ object.linkedin_address }}">
                                        <em class="icon ni ni-linkedin mr-1"></em> {{ object.linkedin_address }}
                                    </a>
                                </p>
                                {% endif %}


                                <!-- mail -->
                                <p class="mr-2">
                                    <em class="icon ni ni-mail mr-1"></em> {{ object.email }}
                                </p>

                                <!-- location -->
                                {% if object.city and object.country %}
                                <p class="mr-2">
                                    <em class="icon ni ni-location mr-1"></em> {{ object.city }}, {{ object.country }}
                                </p>
                                {% endif %}
                            </div>
                            <br>

                            <!-- text -->
                            <p class="title">
                                <b>Investor Bio:</b>
                                <br>{{ object.bio }}
                            </p>
                            <p class="title">
                                <b>Investor's Experience:</b>
                                <br>{{ object.experience }}
                            </p>
                            <p class="title">
                                <b>Reason for participating in the program:</b>
                                <br>{{ object.reason }}
                            </p>
                        </div>

                    </div>

                    <br><br>
                    <div class="row mb-4">
                        <div class="col-4"><a class="btn btn-outline-primary" href="{% url 'core:dashboard' %}">Back to Dashboard</a></div>
                        {% if object.status == 'Pending' %}
                        <div class="col-4"><a class="btn btn-primary" href="{{ object.get_approve_investor_url }}">Mark as Approved</a></div>
                        <div class="col-4"><a class="btn btn-secondary" href="{{ object.get_declined_investor_url }}">Mark as Declined</a></div>
                        {% elif object.status == 'Approved' %}
                        <div class="col-4"><a class="btn btn-secondary" href="{{ object.get_declined_investor_url }}">Mark as Declined</a></div>
                        {% else %}
                        <div class="col-4"><a class="btn btn-primary" href="{{ object.get_approve_investor_url }}">Mark as Approved</a></div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}