{% extends 'admin/base.html' %}


<!-- body -->
{% block content %}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">


                <div class="container card" style="padding: 2em;">
                    <!-- status -->
                    <div class="row">
                        <div class="col">
                            <p>
                                <span class="badge bg-primary text-light">{{ object.status }}</span> {% if object.incorporation == True %}
                                <span class="badge bg-secondary text-light">Incorporated</span> {% endif %}
                            </p>
                        </div>
                        <div class="col edit-status-modal">
                            <p>
                                <a href="{{ object.get_update_startup_url }}" class="link">Edit Startup</a>
                            </p>
                        </div>
                        <hr>
                    </div>
                    <br>

                    <!-- content -->
                    <div class="row align-items-center justify-content-center">
                        <div class="startup-info">
                            <div class="col">
                                <h4>{{ object.name }}</h4>
                                <!-- date -->
                                <p class="sub-text">Applied on {{ object.application_date }} by {{ object.applicant_role }}</p>

                                <div class="myIconContainer" style="display: flex; font-weight: 600;">
                                    <!-- mail -->
                                    {% if object.web_address %}
                                    <p class="mr-2">
                                        <a href="{{ object.web_address }}">
                                            <em class="icon ni ni-globe mr-1"></em> {{ object.web_address }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    <!-- founded -->
                                    <p class="mr-2">
                                        <em class="icon ni ni-history mr-1"></em> {% if object.start_year %} {{ object.start_month }}, {{ object.start_year }} {% endif %}
                                    </p>

                                    <p class="mr-2">
                                        {% if object.country and object.city %}
                                        <em class="icon ni ni-location mr-1"></em>
                                        <!-- if country -->
                                        {{ object.city }}, {{ object.country }} {% endif %}
                                    </p>

                                    <!-- applicant -->
                                    {% if object.applicant_title %}
                                    <p class="mr-2">
                                        <em class="icon ni ni-user-circle mr-1"></em> {{ object.applicant_title }} at {{ object.name }}
                                    </p>
                                    {% endif %}

                                    <!-- email -->
                                    {% if object.applicant_email %}
                                    <p class="mr-2">
                                        <em class="icon ni ni-mail mr-1"></em> {{ object.applicant_email }}
                                    </p>
                                    {% endif %}

                                    <!-- tel no -->
                                    {% if object.applicant_phone_no %}
                                    <p class="mr-2">
                                        <em class="icon ni ni-call mr-1"></em> {{ object.applicant_phone_no }}
                                    </p>
                                    {% endif %}
                                </div>
                                <br>

                                <!-- text -->
                                <p>
                                    <b>Applicant Bio:</b>
                                    <br/>{{ object.applicant_bio }}
                                </p>

                                <p class="title">
                                    <b>Startup Pitch:</b>
                                    <br>{{ object.startup_pitch }}
                                </p>

                                <p class="title">
                                    <b>Startup Elevator Pitch:</b>
                                    <br>{{ object.startup_elevator_pitch }}
                                </p>

                                <p class="title">
                                    <b>Reason for participating in the program:</b>
                                    <br>{{ object.motivation }}
                                </p>

                            </div>

                        </div>
                    </div>

                    <br><br>
                    <div class="row mb-4">
                        <!-- back -->
                        {% if object.status == 'Pending' %}
                        <div class="col-4"><a class="btn btn-outline-primary" href="{% url 'core:pending-startups' %}">Go Back</a></div>
                        {% elif object.status == 'Approved' %}
                        <div class="col-4"><a class="btn btn-outline-primary" href="{% url 'core:active-startups' %}">Go Back</a></div>
                        {% else %}
                        <div class="col-4"><a class="btn btn-outline-primary" href="{% url 'core:declined-startups' %}">Go Back</a></div>
                        {% endif %}

                        <!-- edit status -->
                        {% if object.status == 'Pending' %}
                        <div class="col-4"><a class="btn btn-primary" href="{{ object.get_approve_startup_url }}">Mark as Approved</a></div>
                        <div class="col-4"><a class="btn btn-secondary" href="{{ object.get_decline_startup_url }}">Mark as Declined</a></div>
                        {% elif object.status == 'Approved' %}
                        <div class="col-4"><a class="btn btn-secondary" href="{{ object.get_decline_startup_url }}">Mark as Declined</a></div>
                        {% else %}
                        <div class="col-4"><a class="btn btn-primary" href="{{ object.get_approve_startup_url }}">Mark as Approved</a></div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}