{% extends 'base.html' %}

<!-- style -->
{% block head %}
<style>
    .row-2 {
        margin-top: 2em;
    }
    
    .del-link {
        color: red;
    }
    
    .inquiry-count {
        float: right;
    }
    
    .card {
        padding: 2em;
        border: 1px solid grey;
        /* margin: 1em; */
    }
    
    .not-logged-row {
        padding: 5em;
    }
    
    .login-btn {
        width: 100px;
    }
</style>
{% endblock %}

<!-- body -->
{% block content %}

<div class="container">
    {% if request.user.is_authenticated %}
    <div class="row mb-4">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">{% include 'dashboard-nav.html' %}</div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6">
            <div class="row">
                <div class="col-4">
                    <h6>Startups</h6>
                    <a href="{% url 'core:active-startups' %}">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            {{ active_count }} Active
                        </div>
                    </a>
                    <a href="{% url 'core:pending-startups' %}">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            {{ pending_count }} Pending
                        </div>
                    </a>
                    <a href="{% url 'core:declined-startups' %}">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            {{ declined_count }} Declined
                        </div>
                    </a>
                </div>


                <div class="col-4">
                    <h6>Investors</h6>
                    <a href="{% url 'core:active-investors' %}">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            {{ active_investor_count }} Active
                        </div>
                    </a>
                    <a href="{% url 'core:pending-investors' %}">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            {{ pending_investor_count }} Pending
                        </div>
                    </a>
                    <a href="{% url 'core:declined-investors' %}">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            {{ declined_investor_count }} Declined
                        </div>
                    </a>
                </div>

                <div class="inquiry-count col-2">
                    <a class="btn btn-primary position-relative" href="{% url 'core:inquiry' %}">
                New Inquiries
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ unread_inquiry }}
                  <span class="visually-hidden">unread messages</span>
                </span>
                </a>
                </div>
            </div>
        </div>

    </div>
    {% else %}
    <div class="row not-logged-row">
        <p class="lead">Not logged in</p>
        <a class="btn btn-primary login-btn" href="{% url 'core:login' %}">Login</a>
    </div>
    {% endif %}
</div>

<script>
    header = document.querySelector('#header');
    header.style.display = 'none';
</script>



{% endblock %}