{% extends 'base.html' %}

<!-- style -->
{% block head %}
<style>
    .unread-inquiries {
        font-weight: bold;
    }
</style>
{% endblock %}

<!-- body -->
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-3">{% include 'dashboard-nav.html' %}</div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact Email</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <!-- unread -->
                    {% if object.read == False %}
                    <tr class="unread-inquiries">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ object.user }}</td>
                        <td>{{ object.first_name }} {{ object.last_name }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.subject }}</td>
                        <td>{{ object.message }}</td>
                        <td><a href="{{ object.get_absolute_url }}">View</a></td>
                        <td><a href="{{ object.get_delete_inquiry_url }}" class="del-link">Del</a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ object.user }}</td>
                        <td>{{ object.first_name }} {{ object.last_name }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.subject }}</td>
                        <td>{{ object.message }}</td>
                        <td><a href="{{ object.get_absolute_url }}">View</a></td>
                        <td><a href="{{ object.get_delete_inquiry_url }}" class="del-link">Del</a></td>
                    </tr>
                    {% endif %}
                    <!-- empty -->
                    {% empty %}
                    <tr>
                        <!-- alert -->
                        <div class="container mt-4">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                No inquiries yet
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>

                        <br>
                        <a href="{% url 'core:home' %}">Go to Homepage</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    header = document.querySelector('#header');
    header.style.display = 'none';
</script>

{% endblock %}