{% extends 'base.html' %}
<!-- static files -->
{% load static %}

<!-- style -->
{% block head %}
<style>
    .required {
        color: red;
    }
</style>
{% endblock %}

<!-- body -->
{% block content %}
<div class="bg-primary-dark position-relative pt-3 pt-md-0">
    <div class="container">
        <div class="
          d-none d-md-block
          col-md-6
          position-absolute
          top-0
          end-0
          bg-img-center
          h-100
        " style="background-image: url({% static 'assets/img/900x700/img6.jpg' %})"></div>
        <div class="d-md-none mb-5 mb-md-0">
            <img class="img-fluid" src="{% static 'assets/img/900x700/img2.jpg' %}" alt="Image Description" />
        </div>

        <div class="row align-items-lg-center content-space-b-1 content-space-md-3">
            <div class="col-md-8 col-lg-6">
                <!-- Heading -->
                <div class="pe-lg-3 mb-7">
                    <h1 class="display-4 text-white">Investor Application</h1>
                </div>
                <!-- End Heading -->

                <a class="btn btn-primary" href="{% url 'core:contact' %}">Contact Us <i class="bi-chevron-right small ms-1"></i></a>
            </div>
            <!-- End Col -->

            <div class="col-md-4 align-self-md-end position-relative z-1">
                <div class="d-none d-md-block transform-0" style="
                  margin-bottom: -12rem;
                  margin-left: -5rem;
                  margin-right: 10rem;
                ">
                    <img class="img-fluid" src="{% static 'assets/img/600x600/img1.jpg' %}" alt="Image Description" />
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Hero -->

<!-- Features -->
<div class="container content-space-1 content-space-t-md-4 content-space-b-md-3">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 mb-3 mb-md-0">
            <div class="pe-md-4">
                <!-- Card -->
                <div class="card card-lg">
                    <!-- Card Body -->
                    <div class="card-body">

                        <form action="{% url 'core:register-investor' %}" method="POST">
                            {% csrf_token %}
                            <!-- form -->
                            <div class="fieldWrapper mb-4">
                                {{ form.investor_type.errors }}
                                <label class="form-label">Your motivation <span class="required">*</span></label> {{ form.investor_type }}
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper row mb-4">
                                <div class="col-sm-6">
                                    {{ form.name.errors }}
                                    <label class="form-label">First Name <span class="required">*</span></label> {{ form.name }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.surname.errors }}
                                    <label class="form-label">Last Name <span class="required">*</span></label> {{ form.surname }}
                                </div>
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper row mb-4">
                                <div class="col-sm-6">
                                    {{ form.email.errors }}
                                    <label class="form-label">Email address <span class="required">*</span></label> {{ form.email }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.linkedin_address.errors }}
                                    <label class="form-label">Linkedin Address </label> {{ form.linkedin_address }}
                                </div>
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper row mb-4">
                                <div class="col-sm-6">
                                    {{ form.country.errors }}
                                    <label class="form-label">Country <span class="required">*</span></label> {{ form.country }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.city.errors }}
                                    <label class="form-label">City <span class="required">*</span></label> {{ form.city }}
                                </div>
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper row mb-4">
                                <div class="col-sm-6">
                                    {{ form.employment_status.errors }}
                                    <label class="form-label">Employment Status <span class="required">*</span></label> {{ form.employment_status }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.title.errors }}
                                    <label class="form-label">What is your title at the company? </label> {{ form.title }}
                                </div>
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper mb-4">
                                {{ form.bio.errors }}
                                <label class="form-label">Short Bio / Describe yourself <span class="required">*</span></label> {{ form.bio }}
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper mb-4">
                                {{ form.experience.errors }}
                                <label class="form-label">Investor Experience <span class="required">*</span></label> {{ form.experience }}
                            </div>

                            <!-- form -->
                            <div class="fieldWrapper mb-4">
                                {{ form.reason.errors }}
                                <label class="form-label">Why do you want to apply? <span class="required">*</span></label> {{ form.reason }}
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Send Application</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}