{% extends 'base.html' %}

<!-- style -->
{% block head %}
<style>

</style>
{% endblock %}

<!-- body -->
{% block content %} 

<div class="row">
    <div class="col-3">{% include 'dashboard-nav.html' %}</div>
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ object.name }} </td>
                    <td>{{ object.email }}</td>
                </tr>
                {% empty %}
                <tr>
                    <!-- alert -->
                    <div class="container mt-4">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            No subscriptions yet
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <a class="btn btn-primary" href="{% url 'core:export-mail-list' %}">Export MailList</a>
    </div>
</div>

<script>
    header = document.querySelector('#header');
    header.style.display = 'none';
</script>

{% endblock %}