{% extends 'base.html' %}

<!-- style -->
{% block head %}
<style></style>
{% endblock %}

<!-- body -->
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-3">{% include 'dashboard-nav.html' %}</div>
        <div class="col-9">
            {% if object_list|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Investor Name</th>
                        <th scope="col">Investor Type</th>
                        <th scope="col">Contact Email</th>
                        <th scope="col">Investor Title</th>
                        <th scope="col">Location</th>
                        <th scope="col">Application Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ object.name }} {{ object.surname }}</td>
                        <td>{{ object.investor_type }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.title }}</td>
                        <td>{{ object.city }}, {{ investor.country }}</td>
                        <td>{{ object.application_date }}</td>
                        <td><a href="{{ object.get_absolute_url }}">View</a></td>
                        <td><a href="{{ object.get_update_investor_url }}">Edit</a></td>
                        <td><a href="{{ object.get_delete_investor_url }}" class="del-link">Del</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <!-- alert -->
            <div class="container mt-4">
                <p class="lead">There are no pending investors!</p>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<script>
    header = document.querySelector('#header');
    header.style.display = 'none';
</script>

{% endblock %}