{% extends 'base.html' %}

<!-- style -->
{% block head %}
<style>
    input[type=text],
    input[type=password] {
        width: 40%;
    }
</style>
{% endblock %}

<!-- body -->
{% block content %}

<div class="container">
    <h2>Update Startup Status</h2>
    <form method="POST" action="{{ object.get_startup_status_update_url }}">
        {% csrf_token %}
        <!-- form -->
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
    </form>

    <br>
    <p><a href="{{ object.get_absolute_url }}">Go Back</a></p>

</div>


{% endblock %}